img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    width: 400px;
}

.intro {
    display: flex;
    flex-direction: row;
}

.img-intro {
    margin-right: 10px;
    width: auto;
}

.text-intro {
    flex-grow: 1;
}
