body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

img.sponsor {
    width: auto;
    height: 130px;
}

.wrapper {
    max-width: 50%;
    margin: 0 auto;
    padding: 0 10px;
}

.section {
    margin-bottom: 20px;
}
