body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

p {
    line-height: 130%;
}

li {
    line-height: 130%;
}

hr {
    margin-top: '0px';
    border: 'solid 1px #999';
}

img.sponsor {
    display: inline;
    width: auto;
    height: 130px;
    padding-left: 5px;
    padding-right: 5px;
}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

@media screen and (min-width: 1024px) {
    .wrapper {
        max-width: 80%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1280px) {
    .wrapper {
        max-width: 70%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1920px) {
    .wrapper {
        max-width: 60%;
        margin: 0 auto;
    }
}
